<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish You Happiness</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" href="images/smile.jpg"/>
</head>
<body>
     <div id="menu-top">
        <div class="header-logo">           
            <img src="images/logo.jpg" alt=""/>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="#" title="Login">Login</a></li>
                <li><a href="#" title="Register">Register</a></li>
            </ul>
        </div>
     </div>
     <div id="banner">
        <div class="py-4 text-shadow-sm">
            <h1 class="font-weight-bold">CSS Animation Library</h1>
            <p>Welcome to the  CSS loading Animation Library for convenient and fast.<br />
               The website has many features that can not be exploited yet, but hopefully it is still helpful for you.<br />
               Wish you happiness.<br />
            </p>
        <div class="column">
            <img src="images/banner.gif" alt=""/>
        </div>
        </div>
     </div>
     <div id="main">
         <div id="left">
            <div class="column">
                <img src="images/left.gif" alt=""/>
            </div>
             <div class="menu-left">
                <h3>How to Use</h3>
                <ul>
                    <li><a href="">Click the loader you want</a></li>
                    <li><a href="">Copy CSS to your CSS file</a></li>
                    <li><a href="">Copy HTML to where you need a loader</a></li>
                    <li><a href="">Good luck</a></li>
                </ul>
             </div>
         </div>
         <div id="right">
            <div class="css-sprinners" id="sprinner-list">
                <div class="css-spinner clickable" onclick="lda.css.show('circle')">
                    <div class="lds-circle">
                        <div></div>
                    </div>
                    <div class="name">
                        "loading"
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('dual-ring')">
                    <div class="lds-dual-ring">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('facebook')">
                    <div class="lds-facebook">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('heart')">
                    <div class="lds-heart">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('ring')">
                    <div class="lds-ring">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('roller')">
                    <div class="lds-roller">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('default')">
                    <div class="lds-default">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('ellipsis')">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('grid')">
                    <div class="lds-grid">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('hourglass')">
                    <div class="lds-hourglass">
                    </div>
                    <div class="name">
                        "loading" 
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('ripple')">
                    <div class="lds-ripple">
                        <div></div>
                        <div></div>
                    </div>
                    <div class="name">
                        "loading"
                        <i class="i-html">
                        </i>
                    </div>
                </div>
                <div class="css-spinner clickable" onclick="lda.css.show('spinner')">
                    <div class="lds-spinner">
                        
                    </div>
                    <div class="name">
                     "loading" 
                     <i class="i-html">
                     </i>
                    </div>
                </div>
            </div>
         </div>
     </div>
     <div id="content">

    </div>
     <div id="footer">
        <div class="column">
            <ul>
                <h3>Here's My Contact Info</h3>
                <h5><a href="https://www.facebook.com/vyphan0111" >Facebook Profile</a></h5>
                <h5><a href="https://www.instagram.com/s.dydyy_/" >Instagram Profile</a></h5>
                <h5><a >yenvy.011100@gmail.com</a></h5>
            </ul>
        </div>
        <div class="column">
            <img src="images/footer3.gif" alt=""/>
        </div>
    </div>
     </div>
</body>
</html>